<!-- <h1>Welcome to Entry Point</h1> -->
<!-- <app-rooms> </app-rooms> -->

<!-- <app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>This is from ng-content</h1>
</app-container> -->

<!-- <div>
  <ng-template #user></ng-template>
</div> -->

<!-- user: template reference -->

<!-- <div #name></div> -->

<!-- If we use href then after clicking it entire page get reload, this is not SPA, Its MPA-->
<!-- <a href="/employee">Employee</a> this also works same-->
<!-- <a [routerLink]="'employee'">Employee</a>
<a [routerLink]="'rooms'">Rooms</a> -->
<app-app-nav></app-app-nav>

<!-- <router-outlet></router-outlet> -->
